    <mat-card>
        <mat-card-header>
            <mat-card-title>Terror na Ilha</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image src="./../../../assets/imagens/terror1.jpg" alt="Terror na Ilha">
        <mat-card-content>
            <p>
                Três amigas de infância deixam de lado seus problemas pessoais e se reúnem para um fim de semana só de
                meninas em uma ilha remota na costa do Maine. No entanto, algo errado transforma o fim de semana em uma
                luta mortal pela sobrevivência.
            </p>
        </mat-card-content>

    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>A maldição na casa do lago</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image src="./../../../assets/imagens/terror2.jpg" alt="Terror na Ilha">
        <mat-card-content>
            <p>
                Uma família muda-se para uma casa no lago que não foi vendida devido a um brutal assassinato de uma
                família anos atrás. Logo, eles percebem que um mal adormecido despertou, uma força possessiva que tem
                perseguido famílias desavisadas por séculos.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>O Mistério das Duas Irmãs</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image src="./../../../assets/imagens/terror3.png" alt="O Mistério das Duas Irmãs">
        <mat-card-content>
            <p>
                Após sua mãe morrer em um incêndio, a jovem Anna tenta o suicídio e vai parar em uma clínica. Dez meses
                depois, Anna continua sem lembrar o que aconteceu na noite da tragédia, mas apesar disto o médico lhe dá
                alta. Anna é então levada de volta para casa por seu pai, Steven, um escritor de sucesso.
            </p>
        </mat-card-content>
    </mat-card>
