<mat-card>
    <mat-card-header>
        <mat-card-title>Como eu era antes de você</mat-card-title>
    </mat-card-header>
    <img mat-card-lg-image src="./../../../assets/imagens/romance2.jpg" alt="Como eu era antes de você">
    <mat-card-content>
        <p>
            De origem modesta e sem grandes aspirações, a peculiar Louisa Clark é contratada para ser cuidadora de Will,
            um jovem tetraplégico depressivo e cínico.
        </p>
    </mat-card-content>

</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Nosso Amor</mat-card-title>
    </mat-card-header>
    <img mat-card-lg-image src="./../../../assets/imagens/romance3.jpg" alt="Nosso Amor">
    <mat-card-content>
        <p>
            Em um íntimo retrato do casamento, um casal que divide a vida há muitos anos precisa lidar com uma grave
            doença. Enquanto vivem o medo da perda, eles usam o humor e a parceria para manter a esperança.
        </p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Um Homem de Sorte</mat-card-title>
    </mat-card-header>
    <img mat-card-lg-image src="./../../../assets/imagens/romance4.jpg" alt="Um Homem de Sorte">
    <mat-card-content>
        <p>
            Logan Thibault volta da guerra do Iraque com a certeza de que seu talismã durante o conflito foi a
            fotografia de uma mulher que ele não conhece. Ele se aproxima dela sem lhe contar a verdade e se envolve em
            sua vida e com sua família.
        </p>
    </mat-card-content>
</mat-card>