    <mat-card>
        <mat-card-header>
            <mat-card-title>Minha mãe é uma peça</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image src="./../../../assets/imagens/comedia1.jpg" alt="Minha mãe é uma peça">
        <mat-card-content>
            <p>
                Dona Hermínia precisa se redescobrir e se reinventar porque seus filhos estão formando novas famílias.
                Marcelina está grávida e Juliano vai casar. Dona Hermínia está mais ansiosa do que nunca. Para completar
                as confusões, Carlos Alberto, seu ex-marido, que esteve sempre por perto, agora resolve se mudar para o
                apartamento ao lado
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Meu passado me condena</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image src="./../../../assets/imagens/comedia2.jpg" alt="Meu passado me condena">
        <mat-card-content>
            <p>
                Fábio e Miá fazem um cruzeiro do Rio de Janeiro até a Europa de lua de mel, onde ela reencontra seu
                ex-namorado Beto, que está casado com Laura, antiga paixão de Fábio. Atrapalhados com essa coincidência,
                o casal vive situações cômicas e embaraçosas.
            </p>
        </mat-card-content>
    </mat-card>